.icon{
    width: 14px;
  }
  
.counters {
    display: inline-flex;
    border: 1px solid #40454b15;
    border-radius: 5px;
    margin-top: 30px;
  
    > div, button {
      display: inline-flex;
      align-items: center;
      padding: 2px 10px 2px 10px;
      border-right: 1px solid #40454b15;
      cursor: pointer;
  
    }
  
    > button {
      background-color: #f3f5f7;
    }
    
    .icon {
      margin: 5px;
    }
  
}