.icon {
    display: inline-block;
    height: 25px;
    margin: 0 8px;
}

.user-avatar {
    border-radius: 50%;
    height: 26px;
}

.stories-list {
    display: flex;
    justify-content: space-between;
}

.feeds {
    width: 980px;
    margin: 20px auto;
}
