.icon {
    display: inline-block;
    height: 25px;
    margin: 0 8px;
}

.stories-list {
    display: flex;
    justify-content: space-between;
}

.feeds {
    width: 980px;
    margin: 20px auto;
}

.feedbody-block {
    height: 175px;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #e2e0e0;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;    
}

.feed-title {
    font-size: 26px; 
    font-weight: bold;
}
